<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete an user</title>
    <style>
      *{
        
      }
      .bb{
        width: 90vw;height: 90vh;margin: auto;
      }
      form{
        display: flex;align-items: center;justify-content: center;flex-direction: column;width: 350px;height: 400px;margin: auto;box-shadow: 10px 10px 50px black;margin-top: 10%;
      }
      form h2{
        font-size: 25px;
        text-decoration: underline;
      }
      .row{
        display: flex;
      }
      .row .col a{
        padding: 10px;margin: 0 10px;
      }
    </style>
</head>
<body>
  <div class="bb">
    <form method="post">
      <h2>Student Delete</h2>
      {% csrf_token %}
      <h3>Are You Sure Want to delete <br> {{p.name}} ?</h3>
      <div class="row">
        <div class="col" style="margin-top: 8px;">
          <a href="{% url 'hm' %}" style="padding: 10px;margin: 5px 10px;">Back</a> 
        </div>
        <div class="col">
          <input type="submit" value="Yes Confirm" style="text-decoration: none;outline: none;padding: 10px;"> 
        </div>
      </div>
    </form>
  </div>
</body>
</html>