<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete an user</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="card col-md-5 mx-auto mt-4 shadow-lg">
          <div class="card-body">
            <h3>Student Update</h3>
            <form method="post">
              {% csrf_token %}
              <h3>Are You Sure Want to delete {{p.name}} ?</h3>
              <div class="row my-2">
                <div class="col">
                <a href="{% url 'ab' %}" class="form-control btn btn-outline-secondary">Back</a> 
                </div>
                <div class="col">
                <input type="submit" value="Yes Confirm" class="form-control btn btn-outline-success"> 
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
</body>
</html>